@page "/Journal"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@using MindfulMomentsApp.Models
@using MindfulMomentsApp.Views.Shared.Components
@using MindfulMomentsApp.Models.Enums

<PageTitle>Journal</PageTitle>

<h1>Journal</h1>

<p>This is a place to display a list of Entries</p>

<p>
    <a href="/Entry/Create" class="btn btn-primary">Create New Entry</a>
</p>

@foreach (var entry in Entries)
{
    <EntryCard Entry="entry" />
}

@code {
    private List<Entry> Entries = new();

    protected override void OnInitialized()
    {
        // Example test data
        Entries = new List<Entry>
        {
            new Entry
            {
                Mood = Mood.Happy,
                Activity = Activity.Working,
                Description = "Great workout today!",
                CreatedDate = DateTime.Now
            }
        };
    }

}