@page "/Journal"
@using MindfulMomentsApp.Models
@using Microsoft.EntityFrameworkCore
@using MindfulMomentsApp.Views.Shared.Components


@inject MindfulMomentsApp.Data.AppDbContext Db

<PageTitle>Journal</PageTitle>

<h1>Journal</h1>

<p>This is a place to display a list of Entries</p>

<p>
    <a href="/Entry/Create" class="btn btn-primary">Create New Entry</a>
</p>

@if (Entries.Count == 0)
{
    <p>No entries yet.</p>
}
else
{
    @foreach (var entry in Entries)
    {
        <EntryCard Entry="entry" />
    }
}

@code {
    private List<Entry> Entries = new();

    protected override async Task OnInitializedAsync()
    {
        Entries = await Db.Entries
            .OrderByDescending(e => e.CreatedDate)
            .ToListAsync();
    }
}
