@page "/Journal"

<PageTitle>Journal</PageTitle>

<h1>Journal</h1>

<p>This is a place to display a list of Entries</p>

<p>
    <a href="/Entry/Create" class="btn btn-primary">Create New Entry</a>
</p>

@code {
   
}