@using MindfulMomentsApp.Views.Shared.Components
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims


@{
    ViewData["Title"] = "Home";
}

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    <h2>Welcome @User.Identity.Name!</h2>
    <p>You are successfully logged in.</p>
<div class="my-4">
        @await Component.InvokeAsync("Quotes")
    </div>
    <a class="btn btn-danger" asp-controller="Account" asp-action="Logout">Logout</a>

    @* <component type="typeof(Counter)" render-mode="ServerPrerendered" /> *@
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome to Mindful Moments</h1>
        <p>Please sign in to start your session.</p>

        <a class="btn btn-primary" asp-controller="Account" asp-action="SignIn">Sign In</a>
    </div>
}

