body {
  background-color: #fffaf1;
}

#wrapper {
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    transition: all 0.3s;
    border-right: 1px solid rgba(255,255,255,0.1);
}

.navbar-nav {
    width: 100%;
}

.nav-link i {
    margin-right: 10px; /* Space between icon and text */
    text-align: center; /* Centers the icon within that 25px width */
}

.nav-link {
    padding: 0.5rem 1rem;
    transition: background 0.2s;
}

.nav-link:hover {
    background: rgba(255, 255, 255, 0.1); /* Subtle highlight on hover */
    border-radius: 5px;
    opacity: 0.8;
}

@media (max-width: 360px) {
    .d-flex {
        flex-direction: column; /* Stack sidebar on top of content on mobile */
    }
    .sidebar {
        width: 100%;
        min-vh-100: auto;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem #4e3a2c, 0 0 0 0.25rem black;
}

.btn {
  background-color: #705642;
  border-color: black;
  color: #fff;
}

.btn:hover {
  background-color: #4e3a2c;
  color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}