.mood-sad {background-color: #cadaf3;}
.mood-angry {background-color: #fab9b9;}
.mood-happy {background-color: #fff6cf;}
.mood-fear {background-color: #decfff;}
.mood-anxiety {background-color: #f2ccb4;}
.mood-tired {background-color: #dbdbdb;}
.mood-shy {background-color: #ffe5e5;}
.mood-surprise {background-color: #e5feff;}
.mood-bored {background-color: #ebdecc;}
.mood-inlove {background-color: #ffc5e0;}
.mood-peace {background-color: #ffffff;}
.mood-disgust {background-color: #cbf2ca;}
.mood-default {background-color: #ffffff;}

body {
  background-color: #fffaf1;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-family: 'Roboto', sans-serif;
}

#wrapper {
    min-height: 100vh;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sidebar Styling */
.sidebar {
    width: 250px;
    transition: all 0.3s;
    border-right: 1px solid rgba(255,255,255,0.1);
}

.navbar-nav {
    width: 100%;
}

.nav-link i {
    margin-right: 10px; /* Space between icon and text */
    text-align: center; /* Centers the icon within that 25px width */
}

.nav-link {
    padding: 0.5rem 1rem;
    transition: background 0.2s;
}

.nav-link:hover {
    background: #5e4a3a; /* Subtle highlight on hover */
    border-radius: 5px;
}

@media (max-width: 360px) {
    .d-flex {
        flex-direction: column; /* Stack sidebar on top of content on mobile */
    }
    .sidebar {
        width: 100%;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem #4e3a2c, 0 0 0 0.25rem black;
}

.btn {
  background-color: #46362A;
  border-color: black;
  color: #fff;
}

.btn:hover {
  background-color: #6f5747;
  color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

form div{
  margin-bottom: 1rem;
}

h1, h2, h3 {
  font-family: 'Bebas Neue', sans-serif;
}

.small-text {
  color: #373737 !important;
  font-style: italic;
}

.nav-color {
  background-color: #46362A;
}